mongo/mongo-volume
.idea
__pycache__
mongo/.ipynb_checkpoints
.ipynb_checkpoints
tmp
.pytest_cache
logs
models/
Pipfile.lock
src/nohossat_cas_pratique.egg-info
src/*.egg-info
.neptune
Dockerfile.debug
